<!DOCTYPE html>
<html>
	<head>
		<title>Webview Example</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../assets/styles.css" />
		<script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>
	</head>
	<body>

		<div class="header">
			<img src="../assets/web_icons/3d.svg" width="300px" height="300px"/>
		</div>
		<div class="history-block">
			<div class="history-header" id="history_fullscreen">
				История
				<img src="../assets/web_icons/right-arrow.svg" id="history_fullscreen_icon" style="transition: all 0.3s ease;"/>
			</div>
			<div class="history-content"></div>
		</div>
		<div class="buttons-block">
			<button class="button-open-barrier" id="open_barrier">
				<img src="../assets/web_icons/enable.svg" />
				 Открыть
			 </button>
			<button class="button-enable-ai" id="enable_ai">
				<img src="../assets/web_icons/brain.svg" />
			</button>
		</div>
		<script src="../assets/main.js" lang="JavaScript" type="module"></script>

	</body>
</html>